.card-label {
    position: absolute;
    color: white;
    font-weight: bold;
    right: 0;
    top: 20px;
    font-size: 1.4rem;
}

.card-thumbnail {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}