.a-category-bar {
  $self: &;
  display: flex;
  justify-content: left;
  position: relative;

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__list {
    background: #5F4B8B;
    display: none;
    left: 250px;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
    z-index: 1;

    &:first-child {
      background: none;
      bottom: auto;
      display: flex;
      justify-content: flex-start;
      left: 0;
      list-style: none;
      margin: 0;
      opacity: 1;
      position: relative;
      right: auto;
      top: auto;
      width: 100%;

      #{$self}__list-item {
        color: white;
        padding: 10px;
        position: relative;
        transition: background-color .3s ease;
        will-change: background-color;

        > div {
          display: flex;
          justify-content: space-between;
          position: relative;
          width: 100%;

          i {

          }
        }

        &:hover {
          background-color: darken(#5F4B8B, 5%);
          cursor: pointer;
        }
      }

      > #{$self}__list-item {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }

        > #{$self}__list {
          left: 0;
          position: absolute;
          right: 0;
          top: 43px;
        }
      }
    }
  }

  &__list-item {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }

  &__link, &__link:hover {
    color: white;
    margin-right: 30px;
    text-decoration: none;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .4s ease;
    will-change: transform;

    &.toggled {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}