.a-category-bar {
  $self: &;
  display: flex;
  justify-content: left;
  position: relative;

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &__list {
    background: white;
    border-bottom: solid 1px lightgrey;
    display: none;
    left: 0;
    padding: 20px 40px;
    position: absolute;
    top: 44px;
    width: 100%;
    z-index: 1;

    &:hover {
      display: flex;
    }

    &:first-child {
      background: none;
      border: none;
      bottom: auto;
      display: flex;
      justify-content: space-between;
      left: auto;
      list-style: none;
      margin: 0;
      padding: 0;
      position: initial;
      right: auto;
      top: auto;
      width: 100%;

      > #{$self}__list-item {
        transition: background-color .4s ease;
        width: 100%;
        will-change: background-color;

        > #{$self}__link {
          color: white;
        }

        &:hover {
          background: darken(#5F4B8B, 10%);
          cursor: pointer;

          > #{$self}__list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }
        }
      }
    }
  }

  &__list-item {
    list-style: none;
    margin: 0;
    padding: 10px;
    width: 20%;
  }

  &__link, &__link:hover {
    color: #5F4B8B;
    font-weight: 600;
    text-decoration: none;
  }
}